* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face {
	font-family: "Work Sans";
	src: url("https://fonts.google.com/specimen/Work+Sans");
}

:root {
	--white: hsl(0, 0%, 100%);
	--light-pink: hsl(275, 100%, 97%);
	--grayish-purple: hsl(292, 16%, 49%);
	--dark-purple: hsl(292, 42%, 14%);
	--magneta: hsl(281, 83%, 54%);
}

html {
	height: 100%;
	font-size: 16px;
}

body {
	min-height: 100%;
	background-color: var(--light-pink);
	color: var(--dark-purple);
	font-family: "Work Sans", sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow-y: scroll;
}

#banner {
	position: absolute;
	width: 100%;
	height: 232px;
	background-image: url('assets/images/background-pattern-mobile.svg');
	z-index: -1;
}

#faq-container {
	background-color: var(--white);
	width: 100%;
	max-width: 564px;
	margin: 96px 32px;
	padding: 48px 32px;
	border-radius: 16px;
	box-shadow: 0 2px 64px -32px black;
}

#faq-container > div:first-of-type {
	display: flex;
	align-items: center;
	gap: 32px;
	margin-bottom: 32px;
}

h1 {
	font-size: 2.8rem;
}

#faq-container > div:last-of-type {
	display: flex;
	flex-direction: column;
	gap: 48px;
}

summary {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 32px;
}

summary h2 {
	font-size: 1.1rem;
	font-weight: bold;
}

summary:hover {
	cursor: pointer;
	color: var(--magneta);
}

summary img {
	cursor: pointer;
	width: 32px;
}

details p {
	margin-top: 16px;
	line-height: 24px;
	color: var(--grayish-purple);
}

details p.active {
	height: unset;
	margin-top: 16px;
}

.small {
	width: 32px;
}

.attribution {
	margin-top: auto;
	font-size: 1.2rem;
	text-align: center;
	padding: 16px 0;
	color: var(--dark-purple)
}

.attribution a {
	color: var(--grayish-purple);
}

@media (min-width: 768px) {
    #banner {
        background-image: url('assets/images/background-pattern-desktop.svg');
    }
}